* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex; /*deixa os itens lado a lado*/
    border-bottom: 16px solid #341f97;
    justify-content: center; /*está deixando os itens centralizados*/
    text-transform: uppercase; /*está transformando o título em letra maiúscula*/
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px; /*espaçamento*/
}

input,
button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#botaoCancelar {
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li{
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

ul li img{
    width: 100%;

}

.imagemLink {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.imagemLink a {
    color: white;
    text-decoration: none;
}

ul li:hover .imagemLink{
    opacity: 1;
}